.images {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 200px;
    height: 300px;
    /* background-color: aqua; */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px red solid;
    border-radius: 10px;
    overflow: hidden;
}

.image img {
    /* max-width: 100%;
    max-height: 100%; */
    max-width: 200px;
    max-height: 300px;
}

.hide-girl {
    animation: hide-girl-animation 1000ms;
    animation-fill-mode: both;
}

.show-girl {
    animation: show-girl-animation 1000ms;
    animation-fill-mode: both;
}

.usefull {
    display: flex;
    flex-direction: column;
}
.icon{
    max-width: 20px;
    max-height: 20px;
}

@keyframes hide-girl-animation {
    from {
        height: 300px;
    }

    to {
        height: 0px;
    }
}

@keyframes show-girl-animation {
    from {
        height: 0px;
    }
    
    to {
        height: 300px;
    }
}