.bank-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.bank-account button {
    font-size: 50px;
}

.coins {
    font-size: 150px;
    background: aqua;
    position: relative;
}

.fly-number{
    position: absolute;
    top: -100px;
    left: 50px;
    transition: all 2s;
}