.desc {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.card.finded {
    opacity: 0.3;
}

.card-side {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    width: 200px;
    height: 300px;
}

.card-side.cover {
    transition: all 1s 1s;
}

.card-side.face {
    transition: all 1s;
}

.open .card-side.cover {
    transition: all 1s;
}

.open .card-side.face {
    transition: all 1s 1s;
}

.cover {
    transform: rotateY(0deg);
}

.open .cover {
    transform: rotateY(90deg);
}

.face {
    transform: rotateY(90deg);
}

.open .face {
    transform: rotateY(0deg);
}


.card img {
    object-fit: cover;
    position: absolute;
    width: 200px;
    height: 300px;
}

.template {
    display: none;
}