.desc {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.card-side {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    width: 200px;
    height: 300px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 200px;
    height: 300px;
}

.face {
    display: none;
}