body {
    /* background-color: aqua; */
    background-image: url(../img/bg/battlefield-01.png);
    margin: 0;
}

.batlefield {
    display: flex;
    min-width: 1024px;
    justify-content: space-around;
}

.hero {
    background-color: aqua;
    width: 400px;
    /* height: 300px; */
    padding-bottom: 10px;
}

.result {
    background-color: brown;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.enemies {
    background-color: chocolate;
    width: 300px;
    height: 100vh;
    overflow: scroll;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.actions .magic {
    background-color: beige;
    width: 190px;
    height: 200px;
    margin: 5px;
}

.info {
    font-size: 60px;
}

.confirm {
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    background: greenyellow;
}

.enemy {
    max-width: 100%;
}